# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps 
import os

# Import API key
from api_keys import g_key
print (g_key)

AIzaSyAqyABb9zgDY8Ixp8HpNBRQ5YqFKLAe0Nk

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# output_data_file = "../Instructions/Vacay/weather_data.csv"
output_data_file = "./weather_data.csv"

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Norman Wells,75,CA,1619289776,47,65.2820,-126.8329,33.80,5.75
1,Najrān,75,SA,1619289777,16,17.4924,44.1277,86.00,11.50
2,Diu,100,IN,1619289779,71,20.7141,70.9822,81.30,13.06
3,Qaanaaq,93,GL,1619289780,69,77.4840,-69.3632,27.73,6.49
4,Talnakh,100,RU,1619289781,97,69.4865,88.3972,30.42,13.71
...,...,...,...,...,...,...,...,...,...
550,Kostomuksha,100,RU,1619290477,92,64.5710,30.5767,35.89,4.79
551,Salisbury,8,GB,1619290478,41,51.0693,-1.7957,59.00,16.11
552,Kudahuvadhoo,7,MV,1619290480,66,2.6708,72.8944,83.16,8.10
553,Praia,75,CV,1619290481,57,14.9215,-23.5087,75.20,19.57
554,Sechura,7,PE,1619290482,56,-5.5569,-80.8222,80.60,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

locations = weather_data_df[["Lat", "Lng"]]
# locations

humidity = weather_data_df["Humidity"].astype(float)

# humidity

figure_layout = {
    'width' : '1000px',
    'height':'400px',
    'border':'1px solid black',
    'padding':'1px',
    'margin':'0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=10,
                                   point_radius=5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
new_types_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 90) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

            City  Max Temp  Wind Speed  Cloudiness
110  São Gotardo     84.99        5.26           0
144   Mossamedes     79.23        7.92           0
190       Gerāsh     80.60        1.21           0
227    Suratgarh     80.78        6.98           0
331   Patrocínio     84.00        4.61           0
478    Roebourne     78.76        6.96           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:



hotel_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= 90) 
                                    & (weather_data_df["Max Temp"] >70) 
                                    & (weather_data_df["Cloudiness"] == 0)
                                    & (weather_data_df["Wind Speed"] <10), :]

hotel_df = hotel_df.dropna(how='any')
hotel_df.reset_index(inplace=True)
del hotel_df['index']
hotel_df.head()


#search googleplaces for hotels within 5000 meters
#list for hotel names
hotels = []
#checker variable
x = 0

# for loop to search through city coords
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,São Gotardo,0,BR,1619289913,39,-19.3111,-46.0489,84.99,5.26,Hotel Bomtempo
1,Mossamedes,0,AO,1619289956,75,-15.1961,12.1522,79.23,7.92,Hotel Chik Chik Namibe
2,Gerāsh,0,IR,1619290016,26,27.6652,54.1371,80.60,1.21,Sa'adat House
3,Suratgarh,0,IN,1619290063,16,29.3167,73.9000,80.78,6.98,Maharaja Hotel
4,Patrocínio,0,BR,1619290196,32,-18.9439,-46.9925,84.00,4.61,Guines Palace Hotel 34-99816-3311
5,Roebourne,0,AU,1619290385,38,-20.7833,117.1333,78.76,6.96,Harding River Caravan Park

In [6]:
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,São Gotardo,0,BR,1619289913,39,-19.3111,-46.0489,84.99,5.26,Hotel Bomtempo
1,Mossamedes,0,AO,1619289956,75,-15.1961,12.1522,79.23,7.92,Hotel Chik Chik Namibe
2,Gerāsh,0,IR,1619290016,26,27.6652,54.1371,80.60,1.21,Sa'adat House
3,Suratgarh,0,IN,1619290063,16,29.3167,73.9000,80.78,6.98,Maharaja Hotel
4,Patrocínio,0,BR,1619290196,32,-18.9439,-46.9925,84.00,4.61,Guines Palace Hotel 34-99816-3311
5,Roebourne,0,AU,1619290385,38,-20.7833,117.1333,78.76,6.96,Harding River Caravan Park

In [7]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))